.App {
  text-align: center;
  color: white;
}

.app-letters {
  display: flex;
  justify-content: center;
}

.buttons-board {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60vw;
  height: auto;
  margin: auto;
}



